body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

p {
  margin: 4px 0;
}

.upload-btn {
  display: inline-block;
  background: #3b82f6;
  color: white;
  padding: 10px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 10px;
}

#image-input {
  display: none;
}

.preview-area {
  margin-top: 15px;
}

#preview-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
}

#status {
  font-size: 14px;
  color: #fbbc05;
  margin-bottom: 10px;
}

#result-country {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

#result-list div {
  margin: 4px;
  font-size: 15px;
}


